.top {
    width: 100%;
    background-color: black;
    color: white;
}

.middle {
    width: 98%;
    background-color: white;
    color: black;
    text-align: center;
    margin-left: 1%;
}

.search {
    margin-left: 20px;
    border-radius: 25px;
    border-width: 3px;
    border-color: lightblue;
    border-style: solid;
    background: white;
    padding: 10px;
    width: 50%;
    color: grey;
    font-size: 16px;
}

.search:focus {
    outline: none;
    border-color: cornflowerblue;
}

.checkbox-select {
    background-color: white;
    position: absolute;
    color: black;
    outline-style: solid;
    outline-width: 1px;
    font-size: 16px;
    padding-right: 10px;
}

.standard-font {
    font-size: 16px;
}

.select-button {
    font-size: 16px;
}

.select-button:focus {
    background-color: lightskyblue;
}

#product-list {
    table-layout: fixed;
    text-align: center;
    width: 100%;
}

.product-item {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 40px;
    height: 90px;
}

.product-image {
    width: auto;
    height: 100%;
}

.bottom {
    position: absolute;
    bottom: 10px;
    display: flex;
    width: 100%;
    justify-content: center;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    height: 100%;
}

html {
    height: 100%;
}

h1 {
    margin-left: 20px;
}